@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootswatch/slate/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "./monokai-sublime.css";

.navbar-brand > img {
  height: 100%;

  // padding: 15px;
  width: auto;
}

#main {
  margin-top: 60px;
}
