<header id="header">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Gopher Academy Online Learning</a>
        <ul class="nav">
          	<li><a href="/courses" title="Courses">Courses</a></li>


      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          {{#if current_user}}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.Name}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li role="separator" class="divider"></li> -->
              <li><a href="/logout" data-method="DELETE"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
          {{ else }}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/auth/github"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
              <li><a href="/auth/linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
              <li><a href="/auth/twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
              <li><a href="/auth/facebook"><i class="fa fa-facebook" aria-hidden="true"></i> FaceBook</a></li>
              <li><a href="/auth/gplus"><i class="fa fa-google-plus-official" aria-hidden="true"></i> Google+</a></li>
            </ul>
          {{/if}}
        </li>
      </ul>
        </ul>
      </div>
    </div>
  </nav>
</header>
