<section id="content" class="container">

  <div class="hero-unit">
    <h1>About Gopher Academy</h1>
    <p>
    Gopher Academy’s mission is to foster a community of Go developers by providing education, training, and events.
    </p>
    <blockquote>
	GopherAcademy is a company built with a singular purpose: to foster the growth of the Go community.  We created Gophercon in 2014 because we wanted a Go conference.  We tried hard to make it a conference that we would enjoy attending.  When others across the globe asked if we would run a conference in their country, we encouraged them to run their own.  We're passionate about Go, and about helping people succeed. 
    </blockquote>
    <h2>History</h2>
    <p>
Founded in 2012 by long time Gophers Brian Ketelsen and Erik St. Martin, Gopher Academy exists because we believe in the Go programming language. More importantly, we see the opportunity to help shape a community that is inclusive, welcoming, helpful, and vibrant.
    </p>

    <h2>Community</h2>
    <p>
    Gopher Academy is built on the idea that to thrive a programming language needs a great community.  We work hard to provide events, educational materials, scholarships, and inclusive online environments so that the Go Programming Lanuage will thrive.  We have hundreds of community-written posts on our <a href="https://blog.gopheracademy.com">blog</a>.
    </p>
    <h2>Education</h2>
    <p>
    In 2016, Mark Bates and Cory LaNou joined Gopher Academy to help realize our goal of providing professional education and training to the Go community.  Sarah Rosenbaum leads the education team.  If you're interested in online, in-person, or self-paced learning about Go, Kubernetes, Docker, or Distributed Computing, take a look at our <a href="/training">offerings</a>.
    </p>
    <hr />
  </div>
  <hr>

</section>
