{{#if current_user}}
  {{#unless course.Purchased}}
    <form action="/courses/{{course.ID}}/purchases" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                      data-key="{{stripe_pk}}"
                                                      data-amount="{{course.Price}}"
                                                      data-name="{{course.Title}}"
                                                      data-description="{{course.Description}}"
        data-image="/assets/images/logo.svg"
        data-locale="auto"
        data-label="Buy Now! - {{currency course.Price}}"
        data-panel-label="Buy Now! - \{{amount}}"
        data-email="{{current_user.Email}}"
        >
      </script>
    </form>
  {{/unless}}
{{else}}
  {{#if course.Price }}
    <button class="btn btn-info" disabled>{{currency course.Price}}</button>
    <em>You must be logged in to to buy this course.</em>
  {{else}}
    <em>You must be logged in to to view this course.</em>
  {{/if}}
{{/if}}

