  <form action="/courses/{{course.ID}}/purchases" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                    data-key="{{stripe_pk}}"
                                                    data-amount="{{course.Price}}"
                                                    data-name="{{course.Title}}"
                                                    data-description="{{course.Description}}"
      data-image="/assets/images/logo.svg"
      data-locale="auto"
      data-label="Buy Now! - {{currency course.Price}}"
      data-panel-label="Buy Now! - \{{amount}}"
      data-email="{{current_user.Email}}"
      >
    </script>
  </form>
