<div class="row slide-nav-row">
  <nav class="col-md-12">
    <ul class="pager">
      {{#if @first}}
      <li class="previous disabled">
      {{else}}
      <li class="previous slide-previous" data-index="{{@index}}" data-module="{{m.Slug}}">
      {{/if}}
        <a href="#">
          <span aria-hidden="true">&larr;</span> Previous
        </a>
      </li>
      <li>
        {{m.Title}}
      </li>
      {{#if @last}}
      <li class="next disabled">
      {{else}}
      <li class="next slide-next" data-index="{{@index}}" data-module="{{m.Slug}}">
      {{/if}}
        <a href="#">
          Next <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
