<div class="container">
	<div class="row">
		<div class="col-md-12">
<h1>Courses</h1>

{{#each courses as |course|}}
<h2>{{course.Title}}</h2>
{{markdown course.Description}}
{{#if current_user}}
{{#each current_user.Purchases as |purchase| }}
{{#eq purchase.CourseID.String course.ID.String}} <a href="/classroom"><button type="button" class="btn btn-primary">View Course</button></a>{{ else }}
<form action="/courses/{{course.ID}}/purchases" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                  data-key="{{stripe_pk}}"
                                                  data-amount="{{course.Price}}"
                                                  data-name="{{course.Title}}"
                                                  data-description="{{course.Description}}"
    data-image="/assets/images/logo.svg"
    data-locale="auto"
    data-label="Buy Now! - {{currency course.Price}}"
    data-panel-label="Buy Now! - \{{amount}}"
    data-email="{{current_user.Email.Value}}"
    >
  </script>
</form>
{{/eq}}
{{/each}}
{{ else }}
<div class="alert alert-danger">
  Must Be Logged In to Purchase
</div>{{/if}}
{{/each}}
</div>
</div>
</div>
