<h1>{{course.Title}}</h1>


<div class="row">
  <div class="col-md-3">
    {{#each modules as |m|}}
    <div class="panel-group" id="accordion-{{m.Slug}}" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{m.Slug}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion-{{m.Slug}}" href="#collapse{{m.Slug}}" aria-expanded="true" aria-controls="collapse{{m.Slug}}">
              {{m.Title}}
            </a>
          </h4>
        </div>
        <div id="collapse{{m.Slug}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading{{m.Slug}}">
          <div class="panel-body">
            <ol class="">
              {{#each m.Slides as |slide|}}
              <li><a href="#{{m.Slug}}-{{@index}}" class="slide-selector" data-index="{{@index}}" data-module="{{m.Slug}}">{{slide.Title}}</a></li>
              {{/each}}
            </ol>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="col-md-9">
    <div class="slide" id="welcome">
      <h1>{{course.Title}}</h1>
      {{markdown course.Description}}
    </div>
    {{#if course.Purchased}}
      {{#each modules as |m|}}
      <div id="{{m.Slug}}">
        {{#each m.Slides as |slide| }}
        <div class="slide" data-index="{{@index}}" data-module="{{m.Slug}}" style="display: none">
            {{partial "courses/slide_nav.html"}}
            <div>
              {{markdown slide.Content}}
            </div>
          </div>
        {{/each}}
      </div>
      {{/each}}
    {{else}}
      {{partial "courses/buy.html"}}
    {{/if}}
  </div>
</div>
